KC_DB_URL=jdbc:postgresql://<DBHOST>:5432/<DBNAME>
KC_DB_USERNAME=<DBUSERNAME>
KC_DB_PASSWORD=<DBPASSWORD>
KC_HOSTNAME=localhost
KC_BOOTSTRAP_ADMIN_USERNAME=<ADMINUSERNAME>
KC_BOOTSTRAP_ADMIN_PASSWORD=<ADMINPASSWORD>

PORT=<PORTNUMBER>